In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_excel(r"C:\Users\utkar\OneDrive\Desktop\projrcts data set\Copy of Plane Crashes.xlsx")
df.head()

,Date,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,MSN,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,1918-05-02,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,NaN,...,United States of America,North America,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure
1,1918-06-08,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,NaN,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure
2,1918-06-11,Avro 504,Royal Air Force - RAF,A8544,Flight,Training,Yes,"Plain, Valley",Abukir - Abukir,NaN,...,Egypt,Africa,2.0,1.0,0.0,0.0,0.0,1,The single engine aircraft was completing a lo...,Unknown
3,1918-06-19,De Havilland DH.4,United States Signal Corps - USSC,AS-32098,Flight,Military,No,Airport (less than 10 km from airport),Wright Patterson AFB-Wright Patterson AFB,NaN,...,United States of America,North America,1.0,1.0,0.0,0.0,0.0,1,"Lt. Frank Stuart Patterson, son and nephew of ...",Technical failure
4,1918-06-24,Breguet 14,French Air Force - Armée de l'Air,AS-4130,Landing (descent or approach),Military,Yes,NaN,NaN,NaN,...,France,Europe,NaN,0.0,NaN,0.0,0.0,0,The aircraft crashed iupon landing somewhere i...,Unknown

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28536 entries, 0 to 28535
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              28536 non-null  datetime64[ns]
 1   Aircraft          28535 non-null  object
 2   Operator          28536 non-null  object
 3   Registration      27721 non-null  object
 4   Flight phase      27898 non-null  object
 5   Flight type       28479 non-null  object
 6   Survivors         27239 non-null  object
 7   Crash site        28153 non-null  object
 8   Schedule          19590 non-null  object
 9   MSN               24354 non-null  object
 10  YOM               23225 non-null  float64
 11  Flight no.        0 non-null      float64
 12  Crash location    28524 non-null  object
 13  Country           28535 non-null  object
 14  Region            28535 non-null  object
 15  Crew on board     28512 non-null  float64
 16  Crew fatalities   28535 non-null  float64
 17  Pax on board      28482 non-null  float64
 18  PAX fatalities    28535 non-null  float64
 19  Other fatalities  28526 non-null  float64
 20  Total fatalities  28536 non-null  int64
 21  Circumstances     28511 non-null  object
 22  Crash cause       28536 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(1), object(14)
memory usage: 5.0+ MB
None

In [8]:
df.describe(include = "all")

,Date,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,MSN,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
count,28536,28535,28536,27721,27898,28479,27239,28153,19590,24354,...,28535,28535,28512.000000,28535.000000,28482.000000,28535.000000,28526.000000,28536.000000,28511,28536
unique,NaN,1119,8960,27281,5,31,2,6,15660,18572,...,219,9,NaN,NaN,NaN,NaN,NaN,NaN,27704,6
top,NaN,Douglas C-47 Skytrain (DC-3),Royal Air Force - RAF,1,Flight,Scheduled Revenue Flight,Yes,Airport (less than 10 km from airport),Waddington - Waddington,01,...,United States of America,North America,NaN,NaN,NaN,NaN,NaN,NaN,Crashed in unknown circumstances.,Human factor
freq,NaN,2171,2363,8,11475,6035,15528,13590,33,47,...,6804,8193,NaN,NaN,NaN,NaN,NaN,NaN,162,9926
mean,1968-03-30 03:54:02.724978968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.052539,1.771649,7.705393,3.679727,0.109760,5.567389,NaN,NaN
min,1918-05-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,1945-05-04 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,1967-04-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.000000,1.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN
75%,1988-09-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.000000,3.000000,4.000000,1.000000,0.000000,5.000000,NaN,NaN
max,2022-06-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1924.000000,25.000000,509.000000,506.000000,297.000000,520.000000,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.738151,2.520554,24.066368,15.288171,2.644296,16.713203,NaN,NaN

In [10]:
df.isnull().sum()

Date                    0
Aircraft                1
Operator                0
Registration          815
Flight phase          638
Flight type            57
Survivors            1297
Crash site            383
Schedule             8946
MSN                  4182
YOM                  5311
Flight no.          28536
Crash location         12
Country                 1
Region                  1
Crew on board          24
Crew fatalities         1
Pax on board           54
PAX fatalities          1
Other fatalities       10
Total fatalities        0
Circumstances          25
Crash cause             0
dtype: int64

In [15]:
df['Registration'] = df['Registration'].fillna(df['Registration'].mode()[0])
df['Flight phase'] = df['Flight phase'].fillna(df['Flight phase'].mode()[0])
df['Survivors'] = df['Survivors'].fillna(df['Survivors'].mode()[0])
df['Crash site'] = df['Registration'].fillna(df['Registration'].mode()[0])
df['Registration'] = df['Registration'].fillna(df['Registration'].mode()[0])

In [18]:
df = df.dropna(thresh=len(df.columns) - 2)
df.isnull().sum()
df.fillna('Unknown', inplace=True)
df.fillna(0, inplace=True)

In [17]:
df.isnull().sum()

Date                0
Aircraft            0
Operator            0
Registration        0
Flight phase        0
Flight type         0
Survivors           0
Crash site          0
Schedule            0
MSN                 0
YOM                 0
Flight no.          0
Crash location      0
Country             0
Region              0
Crew on board       0
Crew fatalities     0
Pax on board        0
PAX fatalities      0
Other fatalities    0
Total fatalities    0
Circumstances       0
Crash cause         0
dtype: int64

In [20]:
df.to_excel(r"C:\Users\utkar\OneDrive\Desktop\projrcts data set\cleaned_plane_crashes.xlsx", index=False)